version: "3.8"
services:
  mongodb:
    image: mongo:4.0.8
    container_name: calisabordb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: cs_admin
      MONGO_INITDB_ROOT_PASSWORD: p445w0rd
    volumes:
      - ~/apps/cs_db:/data/db
    ports:
      - "27017:27017"

  app:
     build: ./calisabor
     container_name: calisabor
     command: /bin/sh -c "runserver.sh"
     depends_on:
       - mongodb
     volumes:
       - ~/apps/cs_app:/data/app
     expose:
       - "8000"
     ports:
       - "8000:8000"
     restart: unless-stopped
